      h1 {
          margin-top: 0;
      }

      ul {
          margin: 10;
          padding: 20;
          list-style: none;
      }

      form {
          margin: 0 auto;
          width: 400px;
          padding: 1em;
          border: 2px solid #1DA0B2;
          border-radius: 1em;
      }

      div+div {
          margin-top: 1em;
      }

      label span {
          display: inline-block;
          width: 120px;
          text-align: right;
      }


      input, textarea {
          font: 1em sans-serif;
          width: 250px;
          box-sizing: border-box;
          border: 3px solid #1DA0B2;
      }

      input[type=checkbox], input[type=radio] {
          width: auto;
          border: none;

      }

      input:focus, textarea:focus {
          border-color: #1DA0B2;
      }

      textarea {
          vertical-align: top;
          height: 5em;
          resize: vertical;
      }

      fieldset {
          width: 250px;
          box-sizing: border-box;
          margin-left: 136px;
          border: 1px solid #1DA0B2;
      }

      button {
          margin: 10px 0 0 100px;
          background-color: #1DA0B2;
      }

      label {
        position: relative;
      }

      label em {
        position: absolute;
        right: 5px;
        top: 20px;
      }