

.div-one{
    height: 200px;
    width: 10%;
    background-color: aquamarine;
    float: left;
}
.div-two{
    height: 200px;
    width: 90%;
    background-color: aqua;
    float: left;
}
.div-three{
    height: 50px;
    width: 100%;
    background-color: gray;
    float: left;
}
.div-four{
    height: 600px;
    width: 10%;
    background-color: aquamarine;
    float: left;
}
.div-five{
    height: 600px;
    width: 90%;
    background-color: aqua;
    float: left;
}
.div-six{
    height: 100px;
    width: 100%;
    background-color: gray;
    float: left;
}

.box-one{
    height: 200px;
    width: 300px;
    background-color: red;
    float: left;
    box-sizing: border-box;
    /*margin: 10px 20px 30px 40px;*/
    /*margin-right: 10px;*/
    padding-top: 80px;
    padding-left: 100px;
    /*border: 50px solid;*/
}
.box-two{
    height: 200px;
    width: 300px;
    background-color: green;
    float: left;
}