/*======global CSS======*/

*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

[class*='col-']{
    float: left;
    /*border: 1px solid #EA320B;*/
}

.row:after{
    content: ' ';
    clear: both;
    display: block;
}

.container{

    width: 85%;
    height: auto;
    margin: 0 auto;
}

/*======global CSS======*/

/*======menu CSS=======*/
nav{
    min-height: 50px;
    padding: 5px 5px 5px 0;
    background-color: whitesmoke;
}
.menu{
    list-style-type: none;
    float: right;
}
.menu li{
    float: left;
}
.menu li a{
    display: block;
    text-align: center;
    text-decoration: none;
    transition: background-color 1s, border-bottom 5s;
    background-color: crimson;
    color: black;
    padding: 17px;
}
ul li a:hover{
    background-color: #F39A87;
    border-bottom: 3px solid darkslateblue;
    border-top: 3px solid darkslateblue;
    border-right: 3px solid darkslateblue;
    border-left: 3px solid darkslateblue;

}
/*======menu CSS=======*/

/*=====Slider CSS=======*/
.slider-section{
    min-height: 350px;
    background-image: url("../images/slider.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.slider-content{
    width: 25%;
    background-color: rgba(340,30,10, .5);
    position: absolute;
    top: 135px;
    padding: 15px;
    color: white;
}
.slider-content h1{
    margin-bottom: 7px;
}
.slider-content p{
    margin-bottom: 7px;
    text-align: justify;
}
.slider-content hr{
    margin-bottom: 7px;
}
.more{
    float: right;
    text-decoration: none;
    color: #eeeeee;
}

/*=====Slider CSS=======*/

/*====Feauters CSS=======*/
.features-section{
    padding: 30px 0;
}
.circle{
    height: 100px;
    width: 100px;
    border: 3px solid #A0270D;
    border-radius: 50px;
}
.features-content{
    padding: 15px;
    background-color: #F39A87;
}
.features-content h2{ margin-left: 5px; }
.features-content p{
    margin-left: 5px;
    text-align: justify;
}
.pr-10{ padding-right: 10px; }
.icon{
    margin-top: 18px;
    margin-left: 20px;
    color: black;
}
.icon-2{
    margin-top: 20px;
    margin-left: 22px;
    color: black;
}
.icon-3{
    margin-top: 22px;
    margin-left: 22px;
    color: black;
}
/*====Feauters CSS=======*/

/*====Content CSS=======*/

.content-section{
    padding-bottom: 40px;
}
.thumnil{
    min-height: 300px;
    border-bottom: 3px solid red;
    box-shadow: 0 0 5px 1px crimson;
}
.thumnil img{ width: 100%; }
.thumnil h3{ padding: 10px 0 0 10px;}
.thumnil p{
    padding: 3px 0 0 10px ;
    margin-bottom: 5px;
}
.bed1,  .bed2{
    float: right;
    margin-right: 5%;
}
.thumnil-bottom{ padding: 10px 0 10px 10px;}
.pr-2per{ padding-right: 2%; }






/*====Content CSS=======*/

.sidebar{
    min-height: 330px;
    background-color: crimson;
    padding: 5%;
    color: white;
}
.form-wrapper{
    display: block;
    margin-top: 10px;
}
.form-wrapper label{
    width: 100%;
}
.form-input{
    width: 100%;
    height: 25px;
}
.mr-5per{ margin-right: 5%}
.search-btn{
    width: 100%;
    margin-top: 15px;
    height: 30px;
    border: 2px solid black;
    transition: .5s;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #F39A87;
    color: darkslateblue;
}
.agent-image{ width: 100%; }
.p-5{ padding: 2%}

.footer-1{
    min-height: 80px;
    background-image: url("../images/contact.jpg");
    background-size: 100% 100%;
}
.footer-text{
    padding-top: 40px;
    color: black;
    font-size: 15px;
}